

<div class="cards-pf">
    <div class="container-fluid">
        <div class="row toolbar-pf">
            <div class="col-sm-12">
                <form class="toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter">
                        <label class="sr-only" for="filter">Name</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{capitalize(filterBy)}} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li (click)="changeFilterByProp('name')" class="selected">Name</li>
                                    <li (click)="changeFilterByProp('description')">Description</li>
                                </ul>
                            </div><!-- /btn-group -->
                            <form #filterForm="ngForm">
                                <input [(ngModel)]="filterText" name="filterText"  type="text" class="form-control" id="filter" placeholder="Filter By {{capitalize(filterBy)}}...">
                            </form>
                        </div><!-- /input-group -->
                    </div>
                    <div class="form-group">
                        <div class="dropdown btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{capitalize(sortBy)}} <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li (click)="changeSortByProp('name')" class="selected">Name</li>
                                <li (click)="changeSortByProp('description')">Description</li>
                            </ul>
                        </div>
                        <button (click)="toggleSort()" class="btn btn-link" type="button">
                            <span *ngIf="!isSortAscending" class="fa fa-sort-alpha-asc"></span>
                            <span *ngIf="isSortAscending" class="fa fa-sort-alpha-desc"></span>
                        </button>
                    </div>
                   <!-- <div class="form-group">
                        <button class="btn btn-default" type="button">Action</button>
                        <button class="btn btn-default" type="button">Action</button>
                        <div class="dropdown btn-group  dropdown-kebab-pf">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="fa fa-ellipsis-v"></span>
                            </button>
                            <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>-->
                    <div class="toolbar-pf-action-right">
                        <!--<div class="form-group toolbar-pf-find">
                            <button class="btn btn-link btn-find" type="button">
                                <span class="fa fa-search"></span>
                            </button>
                            <div class="find-pf-dropdown-container">
                                <input type="text" class="form-control" id="find" placeholder="Find By Keyword...">
                                <div class="find-pf-buttons">
                                    <span class="find-pf-nums">1 of 3</span>
                                    <button class="btn btn-link" type="button">
                                        <span class="fa fa-angle-up"></span>
                                    </button>
                                    <button class="btn btn-link" type="button">
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <button class="btn btn-link btn-find-close" type="button">
                                        <span class="pficon pficon-close"></span>
                                    </button>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group toolbar-pf-view-selector">
                            <button (click)="changeView('LargeCards')" class="btn btn-link "><i class="fa fa-th-large"></i></button>
                            <button (click)="changeView('SmallCards')" class="btn btn-link "><i class="fa fa-th"></i></button>
                            <button (click)="changeView('List')" class="btn btn-link "><i class="fa fa-th-list"></i></button>
                        </div>
                    </div>
                </form>
                <!--<div class="row toolbar-pf-results">
                    <div class="col-sm-12">
                        <h5>40 Results</h5>
                        <p>Active filters:</p>
                        <ul class="list-inline">
                            <li>
                                <span class="label label-info">
                                    Name: nameofthething
                                    <a href="#"><span class="pficon pficon-close"></span></a>
                                </span>
                            </li>
                            <li>
                                <span class="label label-info">
                                    Name: nameofthething
                                    <a href="#"><span class="pficon pficon-close"></span></a>
                                </span>
                            </li>
                            <li>
                                <span class="label label-info">
                                    Name: nameofthething
                                    <a href="#"><span class="pficon pficon-close"></span></a>
                                </span>
                            </li>
                        </ul>
                        <p><a href="#">Clear All Filters</a></p>
                    </div><!-- /col --
                </div>--><!-- /row -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
    
    <!------------------- CARDS --------------------------->
    <div *ngIf="activeView == 'LargeCards'" class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
            <large-app-card *ngFor="let app of (applications | filterby:filterBy:filterText | orderby:sortBy:isSortAscending )"
                            class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
                            [app]="app"
                            [sessions]="sessions">
            </large-app-card>
        </div>
    </div>
    
    <div *ngIf="activeView == 'SmallCards'" class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
            <small-app-card *ngFor="let app of (applications | filterby:filterBy:filterText | orderby:sortBy:isSortAscending )"
                            class="col-xs-12 col-sm-3 col-md-2"
                            [app]="app"
                            [sessions]="sessions">
            </small-app-card>
        </div>
    </div>
    
    <div *ngIf="activeView == 'List'" class="container-fluid">
        <div class="list-group list-view-pf list-view-pf-view">
            <row-app-card *ngFor="let app of (applications | filterby:filterBy:filterText | orderby:sortBy:isSortAscending )"
                            class="list-group-item"
                            [app]="app"
                            [sessions]="sessions">
            </row-app-card>
        </div>
    </div>
    
        <script>
            $(function () {
                // matchHeight the contents of each .card-pf and then the .card-pf itself
                $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
            });
            $(document).ready(function () {
                // Card Single Select
                $('.card-pf-view-single-select').click(function () {
                    if ($(this).hasClass('active'))
                    {
                        $(this).removeClass('active');
                    } else
                    {
                        $('.card-pf-view-single-select').removeClass('active');
                        $(this).addClass('active');
                    }
                });
            });
        </script>